# runtime / cache
saves/
logs/
crash-reports/
backups/
downloads/
local/
temp_mi/
.cache/
.mixin.out/
.sable/
moddata/
visualcrafting/
PCL/
Chaos_world-natives/
config/yes_steve_model/cache/
oeb/
oef/
oei/
CustomSkinLoader/
skyblockbuilder/
shaderpacks/
*.zip

# launcher / personal
.hmcl/
.qmenu_opened.marker
*.log
/Chaos_world.jar
usercache.json
usernamecache.json
command_history.txt
emi.json
patchouli_data.json
ponders_watched.json
