# runtime / cache
saves/
logs/
crash-reports/
backups/
downloads/
local/
temp_mi/
.cache/
.mixin.out/
.sable/
moddata/
visualcrafting/
PCL/
Chaos_world-natives/
config/yes_steve_model/cache/
oeb/
oef/
oei/
CustomSkinLoader/
skyblockbuilder/
shaderpacks/
*.zip

# packwiz: mods 由玩家从 CDN 下载，只有自定义 mod 提交进仓库
mods/*
!mods/chaosworld_core-1.0.0.jar

# launcher / personal
/Chaos_world.json
.curseclient
minecraftinstance.json
.hmcl/
.qmenu_opened.marker
*.log
/Chaos_world.jar
usercache.json
usernamecache.json
command_history.txt
emi.json
patchouli_data.json
ponders_watched.json
