# File Specification: https://gist.github.com/Shadows-of-Fire/88ac714a758636c57a52e32ace5474c1

# Extra Hostile Network Config

# All entries in this config file are synced from server to client.


machine {

    version_machines {

        ##########################################################################################################
        # sim_chamber_v1
        #--------------------------------------------------------------------------------------------------------#
        # Setting Ultimate Sim Chamber V1
        ##########################################################################################################

        sim_chamber_v1 {
            # Default: 10000000; Range: [1 ~ 2147483647]
            I:Capacity=10000000

            # Default: 250; Range: [1 ~ 2147483647]
            I:Duration=250
        }

        ##########################################################################################################
        # sim_chamber_v2
        #--------------------------------------------------------------------------------------------------------#
        # Setting Ultimate Sim Chamber V2
        ##########################################################################################################

        sim_chamber_v2 {
            # Default: 50000000; Range: [1 ~ 2147483647]
            I:Capacity=50000000

            # Default: 200; Range: [1 ~ 2147483647]
            I:Duration=200
        }

        ##########################################################################################################
        # sim_chamber_v3
        #--------------------------------------------------------------------------------------------------------#
        # Setting Ultimate Sim Chamber V3
        ##########################################################################################################

        sim_chamber_v3 {
            # Default: 100000000; Range: [1 ~ 2147483647]
            I:Capacity=100000000

            # Default: 150; Range: [1 ~ 2147483647]
            I:Duration=150
        }

        ##########################################################################################################
        # sim_chamber_v4
        #--------------------------------------------------------------------------------------------------------#
        # Setting Ultimate Sim Chamber V4
        ##########################################################################################################

        sim_chamber_v4 {
            # Default: 200000000; Range: [1 ~ 2147483647]
            I:Capacity=200000000

            # Default: 100; Range: [1 ~ 2147483647]
            I:Duration=100
        }

        ##########################################################################################################
        # loot_fab_v1
        #--------------------------------------------------------------------------------------------------------#
        # Setting Ultimate Loot Fab V1
        ##########################################################################################################

        loot_fab_v1 {
            # Default: 10000000; Range: [1 ~ 2147483647]
            I:Capacity=10000000

            # Default: 4096; Range: [0 ~ 2147483647]
            I:"Power Cost"=4096

            # Default: 50; Range: [1 ~ 2147483647]
            I:Duration=50
        }

        ##########################################################################################################
        # loot_fab_v2
        #--------------------------------------------------------------------------------------------------------#
        # Setting Ultimate Loot Fab V2
        ##########################################################################################################

        loot_fab_v2 {
            # Default: 50000000; Range: [1 ~ 2147483647]
            I:Capacity=50000000

            # Default: 16384; Range: [0 ~ 2147483647]
            I:"Power Cost"=16384

            # Default: 40; Range: [1 ~ 2147483647]
            I:Duration=40
        }

        ##########################################################################################################
        # loot_fab_v3
        #--------------------------------------------------------------------------------------------------------#
        # Setting Ultimate Loot Fab V3
        ##########################################################################################################

        loot_fab_v3 {
            # Default: 100000000; Range: [1 ~ 2147483647]
            I:Capacity=100000000

            # Default: 65536; Range: [0 ~ 2147483647]
            I:"Power Cost"=65536

            # Default: 30; Range: [1 ~ 2147483647]
            I:Duration=30
        }

        ##########################################################################################################
        # loot_fab_v4
        #--------------------------------------------------------------------------------------------------------#
        # Setting Ultimate Loot Fab V4
        ##########################################################################################################

        loot_fab_v4 {
            # Default: 200000000; Range: [1 ~ 2147483647]
            I:Capacity=200000000

            # Default: 262144; Range: [0 ~ 2147483647]
            I:"Power Cost"=262144

            # Default: 20; Range: [1 ~ 2147483647]
            I:Duration=20
        }

    }

    ##########################################################################################################
    # merger_camera
    #--------------------------------------------------------------------------------------------------------#
    # Setting Merger Camera
    ##########################################################################################################

    merger_camera {
        # Default: 100000000; Range: [1 ~ 2147483647]
        I:Capacity=100000000

        # Default: 25000; Range: [0 ~ 2147483647]
        I:"Power Cost"=25000

        # Default: 500; Range: [1 ~ 2147483647]
        I:Duration=500
    }

    ##########################################################################################################
    # sim_model
    #--------------------------------------------------------------------------------------------------------#
    # Setting Simulation Modeling
    ##########################################################################################################

    sim_model {
        # Default: 100000000; Range: [1 ~ 2147483647]
        I:Capacity=100000000

        # Default: 100000; Range: [0 ~ 2147483647]
        I:"Power Cost"=100000

        # Default: 100; Range: [1 ~ 2147483647]
        I:Duration=100
    }

}


upgrade {
    # Acceleration of mechanisms with a speed map
    # Default: 50; Range: [1 ~ 100]
    I:"Upgrade Speed"=50

    # How many times will energy consumption increase?
    # Default: 2.0; Range: [0.0 ~ 3.4028235E38]
    S:"Upgrade Speed Energy"=2.0

    # How much energy is needed to move to the next tier?
    # Default: 10000000; Range: [0 ~ 2147483647]
    I:"Upgrade Module Stack Cost"=10000000

    # How many times more data?
    # Default: 2; Range: [0 ~ 2147483647]
    I:"Upgrade Data Kill"=2
}


utils {
    # What is the minimum entry threshold required for a model to start leveling up?
    # SELF_AWARE > SUPERIOR > ADVANCED > BASIC > FAULTY
    # Default: FAULTY
    S:"Minimum Upgrade tier - Hostile"=FAULTY

    # What is the minimum entry threshold required for a model to start leveling up?
    # OMNIPOTENT > SYNTHETIC > ADAPTIVE > INTELLIGENT > AUTONOMOUS
    # Default: AUTONOMOUS
    S:"Minimum Upgrade tier - Extra Hostile"=AUTONOMOUS

    # Blacklist of models that cannot be improved during simulation modeling. Please note that you need to write the Hostile Network model identifier
    # Example: hostilenetworks:blaze
    # Default: []
    S:"Black list for Simulation Modeling"=[]

    # Blacklist, which prevents creation of models via right-click on an entity.
    # Example: entity.minecraft.blaze
    # Default: []
    S:"Blacklist for creating a model when clicking on an entity"=[]
}


data {
    # Required data for the extra model. The first dash is always 0, the remaining 4 are available for input. Minecraft needs to be restarted.
    # Default: [1500, 4500, 10750, 22375]
    S:"Required data for extra model"=[1500, 4500, 10750, 22375]

    # Data per kill for an extra model. The last dash is always 0, the remaining 4 are available for input. Minecraft needs to be restarted.
    # Default: [20, 30, 50, 75]
    S:"Data per kill for extra model"=[20, 30, 50, 75]
}


